@import "tailwindcss";

@theme {
  /* Changing the red fontFamily to Poppins */
  --font-sans: "Poppins", sans-serif;

  --color-primary: #ed6842;

  /* --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-accordion-down: accordion-down 0.2s ease-out;

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  } */
}

.swiper-slide {
  max-width: fit-content;
}
.dash-tail-calendar .fc-toolbar-chunk button {
  @apply h-9;
}

.dash-tail-calendar .fc-toolbar-chunk button.fc-prev-button {
  @apply text-gray-600;
}

.dash-tail-calendar .fc-toolbar-chunk button.fc-next-button {
  @apply text-gray-600;
}

.dash-tail-calendar .fc-header-toolbar {
  @apply flex w-full flex-row px-2 pb-8;
}

.dash-tail-calendar .fc-day-today {
  background-color: #e0e6f3 !important;
}

.dash-tail-calendar .fc-button {
  @apply h-9;
}

.dash-tail-calendar .fc .fc-button-primary {
  @apply hover:bg-primary border border-gray-200 bg-transparent text-gray-700 capitalize;
}

.dash-tail-calendar .fc .fc-button-primary.fc-button-active {
  @apply border-none;
}

.dash-tail-calendar .fc .fc-button-primary:not(:disabled):active,
.dash-tail-calendar .fc .fc-button-primary:not(:disabled).fc-button-active,
.dash-tail-calendar .fc .fc-button-primary:hover {
  @apply bg-primary text-white;
}

.dash-tail-calendar .fc .fc-button-primary:disabled {
  @apply cursor-not-allowed border border-gray-200 bg-transparent hover:text-gray-800;
}

.dash-tail-calendar .fc-today-button {
  @apply hover:text-white;
}

.dash-tail-calendar .fc .fc-button-primary:focus {
  box-shadow: none !important;
}

.dash-tail-calendar .fc-theme-standard .fc-scrollgrid {
  @apply border-gray-100 dark:border-gray-700;
}

.dash-tail-calendar .fc-theme-standard td,
.dash-tail-calendar .fc-theme-standard th {
  @apply border-gray-100 dark:border-gray-700;
}

.dash-tail-calendar .fc-col-header-cell .fc-scrollgrid-sync-inner {
  @apply bg-gray-50 py-3 text-xs font-normal text-gray-600;
}

.dash-tail-calendar .fc-daygrid-day-top {
  @apply px-3 py-2 text-sm font-normal text-gray-900;
}

.dash-tail-calendar .fc-h-event .fc-event-main-frame {
  @apply mx-auto flex w-max items-center justify-center text-center;
}

.dash-tail-calendar .fc-event-time {
  @apply flex-none text-sm font-normal text-white;
}

.dash-tail-calendar .fc-timegrid-event .fc-event-main {
  @apply flex items-center justify-center gap-1 p-0;
}

.dash-tail-calendar .fc-event-title {
  @apply text-sm font-light;
}

.dash-tail-calendar .fc-timegrid-col-events .fc-event-title {
  @apply pt-4;
}

.dash-tail-calendar .fc .fc-toolbar-title {
  @apply text-lg font-normal text-gray-600;
}

.dash-tail-calendar .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  @apply p-1;
}

.dash-tail-calendar .fc-theme-standard .fc-list {
  @apply border border-gray-200;
}

.dash-tail-calendar .fc-daygrid-event-dot {
  @apply hidden;
}

.dash-tail-calendar .fc .fc-list-sticky .fc-list-day > * {
  @apply z-[999];
}

.dash-tail-calendar .fc-timegrid-col-events .fc-event-title {
  @apply pt-0;
}

/* Mobile Responsive Styles */
@media (max-width: 981px) {
  .dash-tail-calendar .fc-button-group,
  .dash-tail-calendar .fc .fc-toolbar {
    display: flex !important;
    flex-direction: row !important;
    margin: 0;
  }

  .dash-tail-calendar .fc .fc-toolbar {
    @apply space-y-0;
  }

  .dash-tail-calendar .fc-toolbar-chunk {
    @apply space-y-0;
  }

  .dash-tail-calendar .fc .fc-button {
    padding: 0.4em 0.65em !important;
  }
}

.dash-tail-calendar .fc .fc-timegrid-axis-cushion,
.dash-tail-calendar .fc .fc-timegrid-slot-label-cushion {
  @apply dark:text-primary;
}

.dash-tail-calendar .fc .fc-list-event:hover td {
  @apply bg-inherit;
}

.dash-tail-calendar .fc .fc-list-event-dot {
  @apply hidden;
}

.dash-tail-calendar .fc-direction-ltr .fc-list-day-text,
.dash-tail-calendar .fc-direction-rtl .fc-list-day-side-text,
.dash-tail-calendar .fc-direction-ltr .fc-list-day-side-text,
.dash-tail-calendar .fc-direction-rtl .fc-list-day-text {
  @apply text-base font-medium text-gray-600;
}

/* Event Type Styles */
.dash-tail-calendar .primary {
  @apply bg-primary border-none px-2 text-center text-sm font-medium text-white;
}

.dash-tail-calendar .secondary {
  @apply border-none bg-gray-600 px-2 text-center text-sm font-medium text-white;
}

.dash-tail-calendar .danger,
.dash-tail-calendar .destructive {
  @apply border-none bg-red-600 px-2 text-center text-sm font-medium text-white;
}

.dash-tail-calendar .info {
  @apply border-none bg-cyan-600 px-2 text-center text-sm font-medium text-white;
}

.dash-tail-calendar .warning {
  @apply border-none bg-yellow-500 px-2 text-center text-sm font-medium text-white;
}

.dash-tail-calendar .success {
  @apply border-none bg-green-600 px-2 text-center text-sm font-medium text-white;
}

.dash-tail-calendar .dark {
  @apply border-none bg-gray-900 px-2 text-center text-sm font-medium text-white;
}

/* Flatpickr Date Picker Styles */
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.dash-tail-calendar .selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  @apply border-primary bg-primary;
}
